name: Release

on:
  push:
    tags:
      - 'v*'

permissions:
  contents: read

defaults:
  run:
    shell: bash

env:
  NPM_AUTH_TOKEN: ''

jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: ./.github/actions/install

      - run: pnpm npm publish --no-git-checks
        env:
          "npm_config_//registry.npmjs.org/:_authToken": ${{ secrets.NPM_AUTH_TOKEN }}
