name: Release

on:
  push:
    tags:
      - "v*"

permissions:
  id-token: write
  contents: read

defaults:
  run:
    shell: bash

jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: ./.github/actions/install

      - run: pnpm publish --no-git-checks
